.adfunctionright{
	text-align: right;
}


.Banner{
	width: 100%; 
	border-style: solid;
	border-width: thin ;
	border-color: rgb(236,186,49);
	border-radius: 5px;
}

.ui-panel-titlebar{
	height: 25px; 
}

.ui-tabs-nav{
	height: 50px; 
}

.TableHeader1, .TableHeader2{
	
	text-align: left; 
	color: rgb(187,34,43); 
	padding-bottom: 10px;
	padding-top: 20px;
}

.TableHeader2{ 
	padding-left: 20px;
}

.tabellenabstand{
	margin-left:20px;
}


/* Bubbles */ 
.talk-bubble {
	margin: 5px;
  display: inline-block;
  position: relative;
	/*width: 500px;*/
	height: auto;
}
.border{
  border: 4px solid #666;
}

.centerStyle{
    text-align: center;
}

.round{
  border-radius: 10px;
}

/* Bubbles links*/ 

.tri-left.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	right: auto;
	left: -30px;
  	top: -4px;
	bottom: auto;
	border: 26px solid;

	border-color: #666 transparent transparent transparent;
}
.tri-left.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;	
	right: auto;
	left: -20px;
  	top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color: rgb(250,230,175) transparent transparent transparent;
}

/* Bubbles rechts */ 
.tri-right.border.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
 	left: auto;
	right: -30px;
    top: -4px;
	bottom: auto;
	border: 26px solid;
	border-color: #666 transparent transparent transparent;
}
.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: auto;
	right: -20px;
 	top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color: rgb(250,230,175) transparent transparent transparent;
}

.ui-datascroller-content{
	background-color: #EBEBEB;
}

.leftmessage{
	padding: 2px 10px; 
	min-width: 50%;
	margin-left: 30px; 
	background-color: rgb(250,230,175);
	border-radius: 5px;
	position: relative; 	
}
.linkswer{
	color: green;
}
.rechtswer{
	color: red;
}


.rightmessage{
	padding: 5px 10px; 
	min-width: 50%;
	margin-right: 30px; 
	background-color: rgb(250,230,175);
	position: relative; 
	float: right; 
	border-radius: 5px;
}

.messagecyclehaeder{
	color: white;
 	background-color: red;
    position: absolute;
    z-index: 1;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center; 
    font-size: 0.7em; 
    border-radius: 8px; 
    margin-top: -4px; 
    margin-left: -17px;
}

.messagecycle{
	color: white;
 	background-color: red;
    position: absolute;
    z-index: 1;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center; 
    font-size: 0.7em; 
    border-radius: 8px; 
    margin-top: -4px; 
    margin-left: -5px;
}

.messageoverviewName{
    position: relative;
    z-index: 99;
}

.messagesideboxtable{
	margin: 0 auto; 
}

.messagesideboxbutton{
	border-radius: 2px;
	width: 100%; 
	background-color: rgb(236,186,49);
}

.messagesideboxbutton:hover{
	background-color: rgb(250,230,175);
}

.textareastyle{
	
	padding: 2px; 
	border-radius: 2px;
	margin-right: 5px; 
	
}


/*** master ***/
h1, h2, h3{
	color: rgb(187,34,43);
}

#page {
	margin-right: 5%;
	margin-left: 5%;
}

#container {
	padding: 5px 1em;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: rgb(250,230,175);
	border-radius: 5px;
	min-height: 500px; 
}

/*** mastersidebox ***/

#container2 {
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #EEEEEE;
	border-radius: 5px;
}

#sidebox {
	padding-top: 50px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	float: left;
	width: 15%;
	background-color: rgb(250,230,175);
	border-radius: 5px;
	text-align:center;
}

#content {
	padding: 5px;
	width: 83%;
	margin-left: auto;
	background-color: rgb(250,230,175);
	border-radius: 5px;
	min-height: 500px; 
}

/*** header ***/

#logo {
 	width: 250px;
    height: 50px;
    border-radius: 5px;
}

#logo-link {
	color: white;
}

.ui-button-text {
	margin: 0px !important;
	padding: 0px !important;
	font-family: 'Times New Roman';
	font-size: 1em;
	color: black;
	font-weight: normal;
}

.ui-button.ui-state-default {
	background-color: rgb(236,186,49) !important;
	padding: 0px !important;
	margin-top: 0px !important;
	font-size: 1em;
	
	width: 100px;
	height: 25px;
	box-shadow: none !important;
	text-shadow: none !important;
}
.ui-button.ui-state-hover {
	background-color: rgb(250,230,175) !important;
	
	box-shadow: none !important;
}

.login-logout-form{
	float: right;
	text-align: right;
}


/*** header - Primeface-Menü 
 .ui-menubar Container element of menubar. 
 .ui-menu-list List container 
 .ui-menuitem Each menu item 
 .ui-menuitem-link Anchor element in a link item 
 .ui-menuitem-text Text element in an item
**
ul li.ui-menuitem-active>a{
    background-image: none !important;
    background-color: #D5FF95 !important;
    box-shadow: none !important;
}

.ui-menubar {
	background-color: #D5FF95 !important;
	border: none;
	border-radius: 5px;
	padding: 5px;
}

.ui-menu-list {
	background-color: #D5FF95 !important;
	box-shadow: none !important;
 }
*/
/*** footer ***/

#footer {
	background-color: rgb(250,230,175);
	border-radius: 5px;
	padding: 5px;
}

#footer-links-container {
	margin-left: auto;
}

.footer-links, .profillinks {
	margin-left: 10px;
	color: rgb(187,34,43);  
	text-decoration: none; 
	text-underline: none; 
}

.profillinktext{
	color: rgb(187,34,43); 
}
.footer-links{
	font-size: 80%;
}


.footer-links:hover, .profillinktext:hover {
	color: rgb(236,186,49); 
}

#footer-copyright {
	text-align:center;
}

#copyright {
	font-size: 80%;
	font-weight: bold;
}


/*** Startseite Logout ***/
#simplesearchform{
	padding-top: 5em;
	padding-bottom: 5em;
	text-align: center;
}

.simplesearchformmittig{
	margin: auto;
}

/*** SearchResults ***/

.message{
	width: 20px;
    height: 20px;
    border-radius: 1px;
}

.message:hover{
	background-color: rgb(236,186,49);
	
}


.ui-fieldset{
background-color: rgb(250,230,175);
}

.ButtonHeaderSimple{
	text-align: right;
	position: relative; 
	float: right; 
}
