/*** master ***/
h1{
	color:red;
}

#page {
	margin-right: 5em;
	margin-left: 5em;
}

#container {
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #D5FF95;
	border-radius: 5px;
}

/*** mastersidebox ***/

#container2 {
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #D5FF95;
	border-radius: 5px;
}

#sidebox {
	padding-top: 50px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	float: left;
	width: 15%;
	background-color: grey;
	border-radius: 5px;
	text-align:center;
}

#content {
	padding: 5px;
	width: 80%;
	margin-left: auto;
	background-color: green;
	border-radius: 5px;
}

/*** header ***/

#logo{
 	width: 50px;
    height: 50px;
    border-radius: 5px;
}

#logo-link{
	color: white;
}
/*** header - Primeface-Menü 
 .ui-menubar Container element of menubar. 
 .ui-menu-list List container 
 .ui-menuitem Each menu item 
 .ui-menuitem-link Anchor element in a link item 
 .ui-menuitem-text Text element in an item
***/
ul li.ui-menuitem-active>a{
    background-image: none !important;
    background-color: #D5FF95 !important;
    box-shadow: none !important;
}

.ui-menubar {
	background-color: #D5FF95 !important;
	border: none;
	border-radius: 5px;
	padding: 5px;
}

.ui-menu-list {
	background-color: #D5FF95 !important;
	box-shadow: none !important;
 }

/*** footer ***/

#footer {
	background-color: #D5FF95;
	border-radius: 5px;
	padding: 5px;
}

#footer-links-container {
	margin-left: auto;
}

.footer-links {
	margin-left: 10px;
	font-size: 80%; 
	color: #000000; 
	text-decoration: none; 
	text-underline: none; 
}

.footer-links:hover {
	color: green; 
}

#footer-copyright {
	text-align:center;
}

#copyright {
	font-size: 80%;
	font-weight: bold;
}

/*** Test ***/



.login-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.login-submit:hover {
  /* border: 1px solid #2f5bb7; */
  color: red;
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}
